{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="#">Graficas PCS</a>
        <small>Gestionar</small>
      </h1>


      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> EMPRESARIOS</a></li>
        <li><a href="#">Graficas </a></li>
      </ol>


    </section>
    <section class="content-header">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
              {% if permiso_usuario.perfil_pcs.comercial  %}
              <li ><a href="/configuracion/definiciones/grafica_comercial/" >Comercial </a></li>
              {% endif %}
              {% if permiso_usuario.perfil_pcs.exportaciones  %}
              <li><a href="/configuracion/definiciones/grafica_exportaciones/" >Exportaciones</a></li>
              {% endif %}
              {% if permiso_usuario.perfil_pcs.desarrollo_empresarial  %}
              <li><a href="/configuracion/definiciones/grafica_desarrollo_empresarial/" >Desarrollo empresarial</a></li>
              {% endif %}
              {% if permiso_usuario.perfil_pcs.administrativo_financiero  %}
              <li  class="active"><a href="/configuracion/definiciones/grafica_administrativo_financiero/" data-toggle="tab">Administrativo y financiero</a></li>
              {% endif %}
              {% if permiso_usuario.perfil_pcs.mercadeo_innovacion  %}
              <li><a href="/configuracion/definiciones/grafica_mercadeo_innovacion/" >Mercadeo e innovación</a></li>
              {% endif %}
              {% if permiso_usuario.perfil_pcs.operaciones_logistica  %}
              <li><a href="/configuracion/definiciones/grafica_operaciones_logistica/" >Operaciones y logística</a></li>
              {% endif %}
            </ul>
            {% csrf_token %}
     </div>
      <h1>
        {% for grafica in lista_graficas %}
        <section class="invoice">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">
                    {{ grafica.nombre }}
                </h2>
            </div>
        </div>
        <div class="row invoice-info">
            <iframe title="grafica_ejemplo" width="1140" height="541.25" src="{{ grafica.grafico }}" frameborder="0" allowFullScreen="true" ></iframe>
        </div>
            </section>
            <br>
         {% endfor %}

        <small></small>
      </h1>
    </section>

{% endblock %}