{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header" xmlns="http://www.w3.org/1999/html">
      {% csrf_token %}
      <h1><a href="#">Administración</a><small>End To End Technology</small></h1>
      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>ACCESO DENEGADO!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
    </section>
    <br>
    {% if   permiso_usuario.empresa.tipo != 'Cadena'  %}
    <div class="col-md-12">
          <div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="activate"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>

                </ol>
                <div class="carousel-inner">
		  <div class="item">
                      <a href="https://compralonuestro.co/">
                    <img src="{% static 'dist/img/BN-04.jpg'%}" alt="First slide"></a>
                  </div>
                    <div class="item">
                      <a href="https://www.autor.com.co/">
                    <img src="{% static 'dist/img/BN_02.png'%}"></a>
                  </div>
                  <div class="item">
                      <a href="https://www.pcsocial.org/">
                    <img src="{% static 'dist/img/banner.png'%}"></a>
                  </div>
                    <div class="item">
                      <a href="#">
                    <img src="{% static 'dist/img/bannerinicial.png'%}" ></a>
                  </div>
                    
                    <div class="item active">
                      <a href="https://docs.google.com/forms/d/1gCag7LmA7KTrfsBKV_ZY4VArsKrpRwN38LDyJ_le9Wk/viewform?edit_requested=true&pli=1">
                    <img src="{% static 'dist/img/BN-05.png'%}" ></a>
                  </div>

                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    {% else %}
        <div class="col-md-12">
          <div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                </ol>
                <div class="carousel-inner">

                  <div class="item active">
                      <a href="#">
                    <img src="{% static 'dist/img/BN-20.png'%}" ></a>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    {% endif %}

{% endblock %}


