{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/definiciones/graficas/">Indicadores Graficas</a>
        <small>Administrar</small>
      </h1>


      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Administrar</a></li>
        <li><a href="#">Graficar </a></li>
      </ol>


    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
            <div class="tab-content">
                <!-- Paises -->
                <div class="active tab-pane" id="paises">
                    <!-- Formulario Paises -->
                    <div class="row">
                      <div class="col-md-6">
                          <form role="form" action="/configuracion/definiciones/graficas/" method="POST">
                              <!-- comando django de seguridad -->
                              {% csrf_token %}
                              <input type="hidden" name="codigo" value="{{data_grafica.codigo  }}">
                              <div>
                                  <div class="form-group">
                                      <label for="nombre_pais">Nombre</label>
                                      <input type="text" class="form-control" id="nombre_pais"
                                        style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                                        name="nombre" placeholder="Nombre de la grafica" value="{{data_grafica.nombre}}" required>
                                  </div>
                                  <div class="form-group">
                                      <label for="codigo_pais">Grafica</label>
                                      <input type="text" class="form-control"  min="0" max="999" id="codigo_pais"
                                       name="grafica" placeholder="Link Grafica" value="{{data_grafica.grafica}}" required>

                                  </div>
                                  <div class="form-group">
                                      <label for="codigo_pais">Nivel</label>
                                      <input type="number" class="form-control"   id="nivel"
                                       name="nivel" placeholder="Nivel De la Grafica en la sección" value="{{data_grafica.nivel}}" required>

                                  </div>
                                  <div class="form-group">
                                   <label>Tipo Usuario</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="tipo_usuario" onchange="mostrarInputs()" id="tipo_usuario" required >
                                           <option value="" selected disabled></option>
                                              <option value="PCS" {% if  data_grafica.tipo_usuario == 'PCS'%}selected{% endif %}>PCS</option>
                                              <option value="EMPRESARIO"{% if  data_grafica.tipo_usuario == 'EMPRESARIO'%}selected{% endif %}>EMPRESARIO</option>
                                      </select>
                                  </div>
                              </div>
                              <div id="datoscliente" style="display:none;">
                                  <div class="form-group">
                                          <label for="Tabla">Nombre Tabla</label>
                                          <input type="text" class="form-control"  min="0" max="999" id="tabla"
                                           name="tabla" placeholder="Nombre Tabla" value="{{data_grafica.tabla}}" >

                                      </div>

                                  <div class="form-group">
                                          <label for="codigo_pais">Nombre Campo</label>
                                          <input type="text" class="form-control"  min="0" max="999" id="campo"
                                           name="campo" placeholder="Nombre Campo" value="{{data_grafica.campo}}" >

                                      </div>

                              </div>
                              <div id="datospcs" style="display:none;">
                              <div class="form-group">
                                   <label>Area</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="area"  id="area"  >
                                           <option value="1" selected disabled></option>
                                              <option value="comercial_direccion" {% if  data_grafica.area == 'comercial_direccion'%}selected{% endif %}>Comercial(Dirección)</option>
                                          <option value="exportaciones_direccion" {% if  data_grafica.area == 'exportaciones_direccion'%}selected{% endif %}>Exportaciones(Dirección)</option>
                                        <option value="desarrollo_empresarial_direccion" {% if  data_grafica.area == 'desarrollo_empresarial_direccion'%}selected{% endif %}>Desarrollo empresarial(Dirección)</option>
                                        <option value="administrativo_financiero_direccion" {% if  data_grafica.area == 'administrativo_financiero_direccion'%}selected{% endif %}>Administrativo y financiero(Dirección)</option>
                                        <option value="mercadeo_innovacion_direccion" {% if  data_grafica.area == 'mercadeo_innovacion_direccion'%}selected{% endif %}>Mercadeo e innovación(Dirección)</option>
                                        <option value="operaciones_logistica_direccion" {% if  data_grafica.area == 'operaciones_logistica_direccion'%}selected{% endif %}>Operaciones y logística(Dirección)</option>
                                        <option value="comercial_coordinacion_1" {% if  data_grafica.area == 'comercial_coordinacion_1'%}selected{% endif %}>Comercial (Coordinación 1)</option>
                                        <option value="comercial_coordinacion_2" {% if  data_grafica.area == 'comercial_coordinacion_2'%}selected{% endif %}>Comercial (Coordinación 2)</option>
                                        <option value="exportaciones_Coordinacion_1" {% if  data_grafica.area == 'exportaciones_Coordinacion_1'%}selected{% endif %}>Exportaciones (Coordinación 1)</option>
                                        <option value="desarrollo_empresarial_coordinacion_1" {% if  data_grafica.area == 'desarrollo_empresarial_coordinacion_1'%}selected{% endif %}>Desarrollo Empresarial (Coordinación 1)</option>
                                        <option value="desarrollo_empresarial_coordinacion_2" {% if  data_grafica.area == 'desarrollo_empresarial_coordinacion_2'%}selected{% endif %}>Desarrollo Empresarial (Coordinación 2)</option>
                                        <option value="administrativo_financiero_coordinacion_1" {% if  data_grafica.area == 'administrativo_financiero_coordinacion_1'%}selected{% endif %}>Administrativo y Financiero (Coordinación 1)</option>
                                        <option value="administrativo_financiero_coordinacion_2" {% if  data_grafica.area == 'administrativo_financiero_coordinacion_2'%}selected{% endif %}>Administrativo y Financiero (Coordinación 2)</option>
                                        <option value="administrativo_financiero_coordinacion_3" {% if  data_grafica.area == 'administrativo_financiero_coordinacion_3'%}selected{% endif %}>Administrativo y Financiero (Coordinación 3)</option>
                                        <option value="mercadeo_innovacion_coordinacion_1" {% if  data_grafica.area == 'mercadeo_innovacion_coordinacion_1'%}selected{% endif %}>Mercadeo e Innovación (Coordinación 1)</option>
                                        <option value="mercadeo_innovacion_coordinacion_2" {% if  data_grafica.area == 'mercadeo_innovacion_coordinacion_2'%}selected{% endif %}>Mercadeo e Innovación (Coordinación 2)</option>
                                        <option value="operaciones_logistica_coordinacion_1" {% if  data_grafica.area == 'operaciones_logistica_coordinacion_1'%}selected{% endif %}>Operaciones y Logística (Coordinación 1)</option>
                                        <option value="operaciones_logistica_coordinacion_2" {% if  data_grafica.area == 'operaciones_logistica_coordinacion_2'%}selected{% endif %}>Operaciones y Logística (Coordinación 2)</option>
                                        <option value="comercial_analista_senior_1" {% if  data_grafica.area == 'comercial_analista_senior_1'%}selected{% endif %}>Comercial (Analista senior 1)</option>
                                        <option value="comercial_analista_senior_2" {% if  data_grafica.area == 'comercial_analista_senior_2'%}selected{% endif %}>Comercial (Analista senior 2)</option>
                                        <option value="comercial_analista_senior_3" {% if  data_grafica.area == 'comercial_analista_senior_3'%}selected{% endif %}>Comercial (Analista senior 3)</option>
                                        <option value="comercial_analista_senior_4" {% if  data_grafica.area == 'comercial_analista_senior_4'%}selected{% endif %}>Comercial (Analista senior 4)</option>
                                        <option value="comercial_analista_senior_5" {% if  data_grafica.area == 'comercial_analista_senior_5'%}selected{% endif %}>Comercial (Analista senior 5)</option>
                                        <option value="comercial_analista_senior_6" {% if  data_grafica.area == 'comercial_analista_senior_6'%}selected{% endif %}>Comercial (Analista senior 6)</option>
                                        <option value="exportaciones_analista_senior_1" {% if  data_grafica.area == 'exportaciones_analista_senior_1'%}selected{% endif %}>Exportaciones (Analista senior 1)</option>
                                        <option value="exportaciones_analista_senior_2" {% if  data_grafica.area == 'exportaciones_analista_senior_2'%}selected{% endif %}>Exportaciones (Analista senior 2)</option>
                                        <option value="exportaciones_analista_senior_3" {% if  data_grafica.area == 'exportaciones_analista_senior_3'%}selected{% endif %}>Exportaciones (Analista senior 3)</option>
                                        <option value="desarrollo_empresarial_analista_senior_1" {% if  data_grafica.area == 'desarrollo_empresarial_analista_senior_1'%}selected{% endif %}>Desarrollo Empresarial (Analista senior 1)</option>
                                        <option value="administrativo_financiero_analista_senior_1" {% if  data_grafica.area == 'administrativo_financiero_analista_senior_1'%}selected{% endif %}>Administrativo y Financiero (Analista senior 1)</option>
                                        <option value="administrativo_financiero_analista_senior_2" {% if  data_grafica.area == 'administrativo_financiero_analista_senior_2'%}selected{% endif %}>Administrativo y Financiero (Analista senior 2)</option>
                                        <option value="administrativo_financiero_analista_senior_3" {% if  data_grafica.area == 'administrativo_financiero_analista_senior_3'%}selected{% endif %}>Administrativo y Financiero (Analista senior 3)</option>
                                        <option value="administrativo_financiero_analista_senior_4" {% if  data_grafica.area == 'administrativo_financiero_analista_senior_4'%}selected{% endif %}>Administrativo y Financiero (Analista senior 4)</option>
                                        <option value="administrativo_financiero_analista_senior_5" {% if  data_grafica.area == 'administrativo_financiero_analista_senior_5'%}selected{% endif %}>Administrativo y Financiero (Analista senior 5)</option>
                                        <option value="mercadeo_innovacion_analista_senior_1" {% if  data_grafica.area == 'mercadeo_innovacion_analista_senior_1'%}selected{% endif %}>Mercadeo e Innovación (Analista senior 1)</option>
                                        <option value="operaciones_logistica_analista_senior_1" {% if  data_grafica.area == 'operaciones_logistica_analista_senior_1'%}selected{% endif %}>Operaciones y Logística (Analista senior 1)</option>
                                        <option value="operaciones_logistica_analista_senior_2" {% if  data_grafica.area == 'operaciones_logistica_analista_senior_2'%}selected{% endif %}>Operaciones y Logística (Analista senior 2)</option>
                                        <option value="operaciones_logistica_analista_senior_3" {% if  data_grafica.area == 'operaciones_logistica_analista_senior_3'%}selected{% endif %}>Operaciones y Logística (Analista senior 3)</option>
                                        <option value="operaciones_logistica_analista_senior_4" {% if  data_grafica.area == 'operaciones_logistica_analista_senior_4'%}selected{% endif %}>Operaciones y Logística (Analista senior 4)</option>
                                        <option value="operaciones_logistica_analista_senior_5" {% if  data_grafica.area == 'operaciones_logistica_analista_senior_5'%}selected{% endif %}>Operaciones y Logística (Analista senior 5)</option>
                                        <option value="comercial_analista_junior_1" {% if  data_grafica.area == 'comercial_analista_junior_1'%}selected{% endif %}>Comercial (Analista junior 1)</option>
                                        <option value="comercial_analista_junior_2" {% if  data_grafica.area == 'comercial_analista_junior_2'%}selected{% endif %}>Comercial (Analista junior 2)</option>
                                        <option value="comercial_analista_junior_3" {% if  data_grafica.area == 'comercial_analista_junior_3'%}selected{% endif %}>Comercial (Analista junior 3)</option>
                                        <option value="comercial_analista_junior_4" {% if  data_grafica.area == 'comercial_analista_junior_4'%}selected{% endif %}>Comercial (Analista junior 4)</option>
                                        <option value="comercial_analista_junior_5" {% if  data_grafica.area == 'comercial_analista_junior_5'%}selected{% endif %}>Comercial (Analista junior 5)</option>
                                        <option value="comercial_analista_junior_6" {% if  data_grafica.area == 'comercial_analista_junior_6'%}selected{% endif %}>Comercial (Analista junior 6)</option>
                                        <option value="comercial_analista_junior_7" {% if  data_grafica.area == 'comercial_analista_junior_7'%}selected{% endif %}>Comercial (Analista junior 7)</option>
                                        <option value="comercial_analista_junior_8" {% if  data_grafica.area == 'comercial_analista_junior_8'%}selected{% endif %}>Comercial (Analista junior 8)</option>
                                        <option value="exportaciones_analista_junior_1" {% if  data_grafica.area == 'exportaciones_analista_junior_1'%}selected{% endif %}>Exportaciones (Analista junior 1)</option>
                                        <option value="exportaciones_analista_junior_2" {% if  data_grafica.area == 'exportaciones_analista_junior_2'%}selected{% endif %}>Exportaciones (Analista junior 2)</option>
                                        <option value="exportaciones_analista_junior_3" {% if  data_grafica.area == 'exportaciones_analista_junior_3'%}selected{% endif %}>Exportaciones (Analista junior 3)</option>
                                        <option value="exportaciones_analista_junior_4" {% if  data_grafica.area == 'exportaciones_analista_junior_4'%}selected{% endif %}>Exportaciones (Analista junior 4)</option>
                                        <option value="exportaciones_analista_junior_5" {% if  data_grafica.area == 'exportaciones_analista_junior_5'%}selected{% endif %}>Exportaciones (Analista junior 5)</option>
                                        <option value="desarrollo_empresarial_analista_junior_1" {% if  data_grafica.area == 'desarrollo_empresarial_analista_junior_1'%}selected{% endif %}>Desarrollo Empresarial (Analista junior 1)</option>
                                        <option value="administrativo_financiero_analista_junior_1" {% if  data_grafica.area == 'administrativo_financiero_analista_junior_1'%}selected{% endif %}>Administrativo y Financiero (Analista junior 1)</option>
                                        <option value="mercadeo_innovacion_analista_junior_1" {% if  data_grafica.area == 'mercadeo_innovacion_analista_junior_1'%}selected{% endif %}>Mercadeo e Innovación (Analista junior 1)</option>
                                        <option value="operaciones_logistica_analista_junior_1" {% if  data_grafica.area == 'operaciones_logistica_analista_junior_1'%}selected{% endif %}>Operaciones y Logística (Analista junior 1)</option>
                                        <option value="analista_senior_2" {% if  data_grafica.area == 'analista_senior_2'%}selected{% endif %}>Analista Senior 2</option>
                                      </select>
                                  </div>
                              </div>


                              </div>

                              </div>
                              <!-- /.box-body -->
                              <div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                  <br>
                              </div>
                          </form>
                      </div>
                  </div>
                    <br>
                    <!-- Tabla paises existentes -->
                   <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                  <h3 class="box-title">Grafica</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                   <table id="pais" class="table table-bordered table-hover dataTables">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Tipo Usuario</th>
                                        <th>Area</th>
                                        <th>Nivel</th>
                                        <th>Editar</th>
					<th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for grafica in lista_graficas %}
                                <tr>
                                    <td>{{grafica.id}}</td>
                                    <td>{{grafica.nombre}}</td>
                                    <td>{{grafica.tipo_usuario}}</td>
                                    <td>{{grafica.area}}</td>
                                    <td>{{grafica.nivel}}</td>
                                    <td><center><a class="btn btn-info btn-sm" href="/configuracion/definiciones/grafica/{{ grafica.id }}/detalle/" title="Editar pais">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    </a></center></td>
                                    <td><center><a class="btn btn-info btn-sm"
                                                   href="/configuracion/definiciones/borrar_grafica/{{grafica.id}}/"
                                                       title="Eliminar ">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a></center></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                                </div>
                                <!-- /.box-body -->
                          </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                </div>

            </div>

            <!-- /.tab-content -->
          </div>

    </section>
{% endblock %}