{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GM Video Player</title>
</head>

<body>
<br><br>
<center><h1 >Videos de Ayuda</h1></center>
<br><br>
    <div class="container">
        <div class="row">
            <div id="gm-video-player" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 video-player">
                <video width="320" height="240" controls>
                    <source src="{% static 'dist/img/ManualCatalogodeProducto.mp4'%}" type="video/mp4">
            </div>
            <div id="playlist" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 playlist">
              <ul>
                <li>
                  <a href="#" class="video-link" id="video-01" data-source="{% static 'dist/img/ManualCatalogodeProducto.mp4'%}"><img src="{% static 'dist/img/catalogodeproducto.png'%}" class="image-responsive video-active"></a>
                  <a href="#" class="video-link" id="video-02" data-source="{% static 'dist/img/ManualComprobantesdeEgreso.mp4'%}"><img src="{% static 'dist/img/comprobantedeegreso.png'%}" class="image-responsive"></a>
                  <a href="#" class="video-link" id="video-03" data-source="{% static 'dist/img/ManualEstadodeCuenta.mp4'%}"><img src="{% static 'dist/img/estasdodecuenta.png'%}" class="image-responsive"></a>
                  <a href="#" class="video-link" id="video-04" data-source="{% static 'dist/img/ManualOrdendeCompra.mp4'%}"><img src="{% static 'dist/img/ordendecompra.png'%}" class="image-responsive"></a>
                </li>
              </ul>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}


