{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<section class="content-header" xmlns="http://www.w3.org/1999/html">
    <h1> <a href="/configuracion/solicitud_comprobante_egreso/"><i class="fa fa-mail-forward"></i>Volver</a></h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
</section>
<section class="invoice">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">
               Detalle Comprobante de Egreso  # {{ form_id }}
            </h2>
        </div>
    </div>
    <div class="row no-print">

    </div>
    {% for dato in lista_solicitud %}
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            N° :<br>
            <strong>{{dato.n_pagos}}</strong><br><br>
            Destinatario de Factura:<br>
            <strong>{{ dato.destinatorio_factura }}</strong><br><br>

        </div>
        <div class="col-sm-4 invoice-col">
            Codigo:<br>
            <strong>{{dato.codigo}}</strong><br><br>
            Fecha de Contabilizacion:<br>
            <strong>{{ dato.fecha_contabilizacion }}</strong><br><br>
        </div>
        <div class="col-sm-4 invoice-col">
            Nombre:<br>
            <strong>{{ dato.nombre }}</strong><br><br>
            Fecha del documento:<br>
            <strong>{{ dato.fecha_vencimiento }}</strong><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tipo </th>
                        <th>Doc.No </th>
                        <th>Fecha</th>
                        <th>No.Factura</th>
                        <th>Valor a Pagar($)</th>
                    </tr>
                </thead>
                <tbody>
                {% for articulo in dato.detalle %}
                <tr>
                    <td>{{ articulo.numero }}</td>
                    <td>{% if articulo.tipo == '18' %}Factura Proveedor
                    {% elif articulo.tipo == '19' %}Notas Credito Provedor
                    {% else %}{{articulo.tipo}}{% endif %}
                    </td>
                    <td><a {% if articulo.tipo == '18' %}href="/configuracion/solicitud_factura_proveedor/detalle/{{ articulo.doc_num }}"
                    {% elif articulo.tipo == '19' %}href="/configuracion/solicitud_credito_proveedores/detalle/{{ articulo.doc_num }}"
                    {% endif %}  type="button" class="btn btn-warning btn-flat"><i class="fa fa-mail-forward"></i></a> {{ articulo.doc_num }}</td>
                    <td>{{ articulo.fecha }}</td>
                    <td>{% if articulo.tipo == '18' %}{{ articulo.factura }}
                    {% elif articulo.tipo == '19' %}{{ articulo.nota }}
                    {% endif %}
                        </td>
                    <td>{{ articulo.total }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
     {% endfor %}
    <div class="row no-print">

    </div>
</section>

{% endblock %}