{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/orden_pcs_otroscanales/">Consulta General</a>
        <small>Otros Canales</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Otros Canales</a></li>
        <li><a href="#">Consulta</a></li>
      </ol>
    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              {% csrf_token %}
            <div class="tab-content">
                <!-- dcasos_estado -->
                <div class="active tab-pane" id="casos_medicamentos">
                <!-- Tabla casos existentes -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <!-- Busqueda-->
                                <div class="row">
                                   <div class="col-md-6">
                                           <label>Fecha inicial</label>
                                          <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                                <input type="date" class="form-control" id="fecha_inicio_input">
                                          </div>
                                      </div>
                                   <div class="col-md-6">
                                       <label>Fecha final</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                            <input type="date" class="form-control" id="fecha_fin_input">
                                      </div>
                                  </div>
                                   <div class="col-md-12">
                                        <br>
                                    </div>
                                   <div class="col-md-6">
                                       <label>Estado</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-check-square "></i></span>
                                            <select class="form-control select2" style="width: 100%;" id="estado_input" >
                                                <option value="T" selected disabled></option>
                                                      <option value="asignado">asignado</option>
                                                      <option value="en proceso">en proceso</option>
                                                  </select>
                                      </div>
                                  </div>
                                <div class="col-md-6">
                                    <label for="pedido">Pedido</label>
                                    <input type="number" class="form-control" id="pedido"
                                           name="pedido" placeholder="Numero de pedido" value="{{ pedido }}" >
                                </div>
                                <div class="col-md-12">
                                        <br>
                                    </div>
                                <div class="col-md-12">
                                    <label>Empresa</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-check-square "></i></span>
                                            <select class="form-control select2" style="width: 100%;" id="empresa_input" >
                                                <option value="T" selected disabled></option>
                                                      {% for usuario in usuarios %}
                                                      <option value="{{ usuario.id }}">
                                                          {{usuario.nombre}}
                                                      </option>
                                                      {% endfor %}
                                                  </select>
                                      </div>
                                </div>
                                      <div class="col-md-12">
                                           <br>
                                      </div>
                                      <div class="col-md-12">
                                          <br>
                                      </div>
                                    <div class="col-md-12">
                                        <button id="busqueda_pedidos_otros_canales" class="btn btn-primary btn-block btn-flat" >
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="glyphicon glyphicon-search"></span> Consultar
                                        </button>
                                    </div>
                                </div>
                                <!--/ Busqueda-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="page-header">
                                    </h4>
                                </div>
                            </div>
                            <div id="printableArea">
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                              <table id="tabla_infoc_medicamentos" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>PEDIDO</th>
                                        <th>FECHA</th>
                                        <th>HORA</th>
                                        <th>DETALLE</th>
                                        <th>ESTADO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for pedido in pedidos %}
                                    <tr>
                                        <td>{{ pedido.num_pedido }}</td>
                                        <td>{{ pedido.fecha }}</td>
                                        <td>{{ pedido.hora }}</td>
                                        <td>{{ pedido.estado }}</td>
                                        <td><a class='btn btn-info' href="/configuracion/orden_pcs_otroscanales/detalle/{{ pedido.num_pedido }}"><i class="fa fa-mail-forward"></i></a> </td>
                                    </tr>
                                {% endfor %}
                                <!-- Espacio para los datos que cargan -->
                                </tbody>
                                <tfoot>
                                    <tr>

                                    </tr>
                                </tfoot>
                              </table>
                            </div>
                            <!-- /.box-body -->
                      </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- Tabla existentes -->

            </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}