{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/orden_pcs_otroscanales/">Consulta General</a>
        <small>Otros Canales</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Otros Canales</a></li>
        <li><a href="#">Consulta</a></li>
      </ol>
    </section>
    <div class="modal fade" id="DocumentoFIModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form role="form" action="/configuracion/generacion_facturas/excel_general/" id="miFormulario" method="POST">
            {% csrf_token %}
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">Informacion Facturacion Exportaciones</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <input type="hidden" name="numero_pedidoss" id="numero_pedidoss">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">Puerto de embarque:</label>
                                    <input type="text" class="form-control" id="puerto_embarque"
                                           name="puerto_embarque"  required >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">País de origen:</label>
                                    <input type="text" class="form-control" id="pais"
                                           name="pais" required >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">Puerto destino:</label>
                                    <input type="text" class="form-control" id="puerto_destino"
                                           name="puerto_destino" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">País destino:</label>
                                    <input type="text" class="form-control" id="pais_destino"
                                           name="pais_destino"  required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">Vía / Vía:</label>
                                    <input type="text" class="form-control" id="via"
                                           name="via" required >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">Forma de pago:</label>
                                    <input type="text" class="form-control" id="forma_pago"
                                           name="forma_pago"  required>
            </div>
          </div>
        </div>
          <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">Término de negociación:</label>
                                    <input type="text" class="form-control" id="termino_negociacion"
                                           name="termino_negociacion" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">Número piezas:</label>
                                    <input type="number" class="form-control" id="numero_piezas"
                                           name="numero_piezas" required>
            </div>
          </div>
        </div>

          <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">Peso neto:</label>
                                    <input type="number" class="form-control" id="peso_neto"
                                           name="peso_neto"  required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="pedido">Peso bruto:</label>
                                    <input type="number" class="form-control" id="peso_bruto"
                                           name="peso_bruto" required>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" >Generar</button>
      </div>
        </form>

    </div>
  </div>
</div>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              {% csrf_token %}
            <div class="tab-content">
                <!-- dcasos_estado -->
                <div class="active tab-pane" id="casos_medicamentos">
                <!-- Tabla casos existentes -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <!-- Busqueda-->
                                <div class="row">
                                   <div class="col-md-6">
                                           <label>Fecha inicial</label>
                                          <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                                <input type="date" class="form-control" id="fecha_inicio_input">
                                          </div>
                                      </div>
                                   <div class="col-md-6">
                                       <label>Fecha final</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                            <input type="date" class="form-control" id="fecha_fin_input">
                                      </div>
                                  </div>
                                   <div class="col-md-12">
                                        <br>
                                    </div>
                                   <div class="col-md-6">
                                       <label>Estado</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-check-square "></i></span>
                                            <select class="form-control select2" style="width: 100%;" id="estado_input" >
                                                <option value="T" selected disabled></option>
                                                      <option value="asignado">asignado</option>
                                                      <option value="en proceso">en proceso</option>
                                                      <option value="predistribuido">predistribuido</option>
                                                      <option value="pendiente">pendiente</option>
                                                      <option value="completado">completado</option>
                                                  </select>
                                      </div>
                                  </div>
                                <div class="col-md-6">
                                    <label for="pedido">Pedido</label>
                                    <input type="number" class="form-control" id="pedido"
                                           name="pedido" placeholder="Numero de pedido" value="{{ pedido }}" >
                                </div>
                                <div class="col-md-12">
                                        <br>
                                    </div>
                                <div class="col-md-12">
                                    <label>Empresa</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-check-square "></i></span>
                                            <select class="form-control select2" style="width: 100%;" id="empresa_input" >
                                                <option value="T" selected disabled></option>
                                                      {% for usuario in usuarios %}
                                                      <option value="{{ usuario.id }}">
                                                          {{usuario.nombre}}
                                                      </option>
                                                      {% endfor %}
                                                  </select>
                                      </div>
                                </div>
                                      <div class="col-md-12">
                                           <br>
                                      </div>
                                      <div class="col-md-12">
                                          <br>
                                      </div>
                                    <div class="col-md-12">
                                        <button id="busqueda_pedidos_otros_canales" class="btn btn-primary btn-block btn-flat" >
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="glyphicon glyphicon-search"></span> Consultar
                                        </button>
                                    </div>
                                </div>
                                <!--/ Busqueda-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="page-header">
                                    </h4>
                                </div>
                            </div>
                            <div id="printableArea">
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                              <table id="tabla_infoc_medicamentos" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>NRO PEDIDO</th>
                                        <th>NRO PEDIDO CLI</th>
                                        <th>FECHA ELABORACION</th>
                                        <th>FECHA ENTREGA</th>
                                        <th>HORA</th>
                                        <th>ESTADO</th>
                                        <th>DETALLE</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for pedido in pedidos %}
<tr>
    <td><input type="checkbox" class="pedido-checkbox" value="{{ pedido.num_pedido }}"></td>
    <td>{{ pedido.num_pedido }}</td>
    <td>{% if pedido.numero_pedido_cliente %}{{ pedido.numero_pedido_cliente }}{% endif %}</td>
    <td>{% if pedido.fecha_entrega %}{{ pedido.fecha_entrega }}{% endif %}</td>
    <td>{{ pedido.fecha }}</td>
    <td>{{ pedido.hora }}</td>
    <td>{{ pedido.estado }}</td>
    <td><a class='btn btn-info' href="/configuracion/orden_pcs_otroscanales/detalle/{{ pedido.num_pedido }}"><i class="fa fa-mail-forward"></i></a></td>
</tr>
{% endfor %}
                                <!-- Espacio para los datos que cargan -->
                                </tbody>
                                <tfoot>
                                    <tr>

                                    </tr>
                                </tfoot>
                              </table>
                            <button type="button" class="btn btn-primary mt-3" id="generarSeleccionados" data-toggle="modal" data-target="#DocumentoFIModal">
    GENERAR FACTURAS SELECCIONADAS
</button>
                            </div>
                            <!-- /.box-body -->
                      </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- Tabla existentes -->

            </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}