{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
         <a href="/configuracion/terceros/">Ubicacion</a>
        <small>Registrar</small>
      </h1>
    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
            <br>
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" action="/configuracion/ubicacion/registrar/" method="POST">
                            <!-- comando django de seguridad -->
                            {% csrf_token %}
                            <div>



                                <div class="row">
                                    <div class="col-md-6">
                                           <label>Codigo</label>
                                          <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-slack"></i></span>
                                              <input type="text" class="form-control" id="codigo"
                                                 name="codigo" placeholder="codigo"
                                                 style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                  required>
                                          </div>
                                      </div>
                                    <div class="col-md-6">
                                      <label>Descripcion</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                                            <input type="text" class="form-control" id="descripcion"
                                             name="descripcion" placeholder="descripcion"
                                             style="text-transform:uppercase;">
                                      </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">

                                    <div class="col-md-6">
                                    <label>Continente</label>
                                    <div class="input-group ">
                                      <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="continentes" onchange = "obtener_paises(this)" required>
                                           <option value="" selected disabled></option>
                                              {% for continentes in lista_continentes %}
                                              <option value="{{ continentes.id }}">{{continentes.descripcion}}</option>
                                              {% endfor %}
                                      </select>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                    <label>Pais</label>
                                    <div class="input-group ">
                                      <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="paises" id="paises" onchange = "obtener_departamentos(this)" required>
                                        <option value="" selected disabled></option>
                                              {% for pais in lista_paises %}
                                              <option value="{{ pais.id }}">{{pais.descripcion}}</option>
                                              {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                    <label>Departamento</label>
                                    <div class="input-group ">
                                      <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="departamentos" id="departamentos"
                                               onchange = "obtener_municipios(this)" required>
                                          <option value="" selected disabled></option>
                                              {% for departamento in lista_departamentos %}
                                              <option value="{{ departamento.id }}">{{departamento.descripcion}}</option>
                                              {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                    <div class="col-md-4">
                                    <label>Municipio</label>
                                    <div class="input-group ">
                                      <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="municipios" id="municipios" required>
                                          <option value="" selected disabled></option>
                                              {% for municipios in lista_municipios %}
                                              <option value="{{ municipios.id }}">{{municipios.descripcion}}</option>
                                              {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <br>

                                </div>

                                <br>


                            <!-- /.box-body -->
                            <div>
                              <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                </div>
                <!-- /.tab-pane -->
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}