{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/formas_envios/">Formas de Envios</a>
        <small>Configuracion</small>
      </h1>


      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Configuracion</a></li>
        <li><a href="#">Formas de Envios</a></li>
      </ol>


    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#formas_envios" data-toggle="tab">Formas de Envios</a></li>
            </ul>
            {% csrf_token %}
            <div class="tab-content">
                <!-- barras de acceso -->
                <div class="active tab-pane" id="formas_envios">
                    <br>
                    <div class="row">
                          <div class="col-md-2">
                              <a href="/configuracion/formas_envios/registrar/">
                                <button type="button" class="btn btn-primary">
                                    <span class='glyphicon glyphicon-edit'></span> Registrar</button>
                              </a>
                          </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                  <h3 class="box-title">Formas de Envios</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                  <table id="formas_envios" class="table table-bordered table-hover dataTables">
                                    <thead>
                                        <tr>
                                            <th>Tipo de Envio</th>
                                            <th>Codigo</th>
                                            <th>Nombre </th>
                                            <th>Esta Activa</th>
                                            <th>Genera Plantilla</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for formas_envios in lista_formas_envios %}
                                            <tr>
                                                <td>{{formas_envios.tipos_envios.descripcion}}</td>
                                                <td>{{formas_envios.id}}</td>
                                                <td>{{formas_envios.nombre_fe}}</td>
                                                <td>{{formas_envios.estado}}</td>
                                                <td>{{formas_envios.genera_planilla}}</td>
                                                <td><center><a class="btn btn-info btn-sm"
                                                       href="/configuracion/formas_envios/editar/{{formas_envios.id}}/"
                                                       title="Editar ">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </a></center></td>
                                                <td><center><a class="btn btn-info btn-sm"
                                                       href="/configuracion/tipos_radicados/borrar/{{formas_envios.id}}/"
                                                       title="Eliminar ">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a></center></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                                <!-- /.box-body -->
                          </div>
                            <!-- /.box -->
                        </div>
                    </div>

                </div>
                <!-- /.tab-content -->
          </div>

          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}