{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/servicio_crediya_registro/">Solicitar Aprobación Documentos</a>
        <small>Configuración</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Configuración</a></li>
        <li><a href="#">Solicitar Aprobación Documentos</a></li>
      </ol>
    </section>

    <section class="content">
        <div class="row">
            <!-- Documentos necesarios para la aprobación del crédito -->
            <form role="form" enctype="multipart/form-data" action="/configuracion/registrar_documentos_creditos/" method="POST">
                {% csrf_token %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Documentos Necesarios para la Aprobación del Crédito</h3>
                    </div>
                    <div class="box-body">
                            <div class="form-group">
                        <div class="col-md-10">
                                   <label for="pagare" style="font-weight: bold;font-size: 1.2em">Empresa:</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="empresas" required>
                                           <option value="" selected disabled></option>
                                              {% for empresas in lista_empresas %}
                                              <option value="{{ empresas.id }}">{{empresas.nombre}}</option>
                                              {% endfor %}
                                      </select>
                                  </div>
                              </div>
                    </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                <label for="pagare" style="font-weight: bold;font-size: 1.2em">Pagaré:</label>
                                <input type="file" class="form-control" id="pagare" name="pagare"  ></div>
                                <div class="col-md-2">
                                    <a class="btn btn-app" target="_blank" href="/bodega/PAGARE.pdf">
                                    <i class="fa  fa-file-word-o"></i> Formato
                                </a>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                <label for="contrato" style="font-weight: bold;font-size: 1.2em">Contrato de Crédito:</label>
                                <input type="file" class="form-control" id="contrato" name="contrato" >
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-app" target="_blank" href="/bodega/CONTRATO CREDITO.pdf">
                                    <i class="fa  fa-file-word-o"></i> Formato
                                </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                <label for="carta" style="font-weight: bold;font-size: 1.2em">Carta de Instrucciones:</label>
                                <input type="file" class="form-control" id="carta" name="carta" >
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-app" target="_blank" href="/bodega/CARTA DE INSTRUCCIONES.pdf">
                                    <i class="fa  fa-file-word-o"></i> Formato
                                </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                <label for="ficha" style="font-weight: bold;font-size: 1.2em">Ficha de Negociación:</label>
                                <input type="file" class="form-control" id="ficha" name="ficha" >
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-app" target="_blank" href="/bodega/SOLICITUD DE SERVICIO FINANCIERO.pdf">
                                    <i class="fa  fa-file-word-o"></i> Formato
                                </a>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

            <!-- Botón de enviar solicitud -->
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">Enviar Solicitud</button>
            </div>
            </form>
        </div>
    </section>
{% endblock %}
