{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/imagen_empresiario_otroscanales/">Imagenes</a>
        <small>Registrar Información</small>
      </h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
            <br>
            <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alerta!</h4>{{ message }}
             </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <div class="tab-content">
                <!-- barras de acceso -->
                <div class="active tab-pane" id="terapia">
                    <div class="row">
                      <div class="col-md-6">
                          <form role="form" action="/configuracion/registrar/imagen_empresiario_otroscanales_masivo/" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="row">
                                  <div class="col-md-12">
                                     <label>Imagen</label>
                                     <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-upload"></i></span>
                                        <input id="adjunto" name="csv_file" type="file"  required>
                                      </div>
                                  </div>
                              </div>

                              <br>
                              <!-- /.box-body -->
                              <div>
                              <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                            </div>
                          </form>
                      </div>
                  </div>
                    <!-- Tabla Continentes -->
                </div>
             </div>

          <!-- /.nav-tabs-custom -->
         </div>
    </div>
        <!-- /.col -->
    </section>

{% endblock %}