{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/usuarios/">Usuarios </a>
        <small>Configuracion</small>
      </h1>


      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Configuracion</a></li>
        <li><a href="#">Opciones</a></li>
      </ol>


    </section>
    <div class="modal fade" id="DocumentoFIModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form role="form" action="/configuracion/servicio_codigosregistro_registro/" method="POST">
                    {% csrf_token %}
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title" id="exampleModalLabel">Código Registro Usuarios</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="numerocodigos" name="codigoregistro">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bg-primary text-white p-3 rounded">
                                    <center>
                                        <div class="text-white"><h4>Creaste un Nuevo Código:</h4></div>
                                        <h3 id="numerocodigo" class="text-white font-weight-bold"></h3>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Tipo de Empresa</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa fa-group"></i></span>
                                    <select class="form-control select2" style="width: 100%;" name="tipo_empresa" id="tipo_empresa" onchange="obtener_empresa_tipo(this)" required>
                                        <option value="" selected disabled></option>
                                        <option value="cSupplier">Empresa Empresario</option>
                                        <option value="cCustomer">Empresa Cliente</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12"><br></div>
                            <div class="col-md-12">
                                <label>Empresa</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa fa-user"></i></span>
                                    <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" onchange="obtener_empresa_codigo(this)" name="empresa_usuario" id="empresa_usuario" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12"><br></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bg-primary text-white p-3 rounded">
                                    <center>
                                        <div class="text-white"><h4>Creado para la Empresa:</h4></div>
                                        <h3 id="codigoempresa" class="text-white font-weight-bold"></h3>
                                    </center>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Generar Código</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#opciones" data-toggle="tab">Usuarios</a></li>
              <li><a href="/configuracion/empresas/" >Compañia</a></li>
              <li><a href="/configuracion/perfiles_pcs/" >Perfiles PCS</a></li>
                <li><a href="/configuracion/historial_codigos_registro/" >Codigos</a></li>
            </ul>
            {% csrf_token %}
            <div class="tab-content">
                <!-- barras de acceso -->
                <div class="active tab-pane" id="opciones">
                    <br>
                    <div class="row">
                          <div class="col-md-1">
                              <a href="/configuracion/usuarios/registrar/">
                                <button type="button" class="btn btn-primary">
                                    <span class='glyphicon glyphicon-edit'></span> Registrar</button>
                              </a>
                          </div>
                        <div class="col-md-2">
                                <button type="button" data-toggle="modal" data-dismiss="modal"  class="btn btn-primary solicitud-codigoregistro-btn"
                                data-target="#DocumentoFIModal">
                                    <span class='fa  fa-bars'></span> Generar Código</button>

                          </div>
                        <div class="col-md-1">
                              <a href="/configuracion/asignar_certificados/">
                                <button type="button" class="btn btn-primary">
                                    <span class='glyphicon glyphicon-edit'></span> Asignar Certificados</button>
                              </a>
                          </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                  <h3 class="box-title">Opciones</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                  <table id="opciones" class="table table-bordered table-hover dataTables">
                                    <thead>
                                        <tr>

                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Nombre Usuario</th>
                                            <th>Correo</th>
                                            <th>Permisos</th>

                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for usuario in lista_usuarios %}
                                            <tr>

                                                    <td>{{usuario.first_name}}</td>
                                                    <td>{{usuario.last_name}}</td>
                                                    <td>{{usuario.username}}</td>
                                                    <td>{{usuario.email}}</td>

                                                <td><center><a class="btn btn-info btn-sm"
                                                       href="/configuracion/usuarios/editar/{{ usuario.id }}/"
                                                       title="Editar ">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </a></center></td>
                                                <td><center><a class="btn btn-info btn-sm"
                                                       href="/configuracion/usuarios/borrar/{{ usuario.id }}/"
                                                       title="Eliminar ">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a></center></td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                                <!-- /.box-body -->
                          </div>
                            <!-- /.box -->
                        </div>
                    </div>

                </div>
                <!-- /.tab-content -->
          </div>

          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}