{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <style>
    #calendar {
      font-family: Arial, sans-serif;
      max-height: 135px; /* Ajusta la altura máxima del calendario según tu preferencia */
      overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido del calendario excede la altura máxima */
      max-width: 100%; /* Ajusta el ancho máximo del calendario según tu preferencia */
      margin: 0 auto; /* Centra el calendario horizontalmente */
    }

    .fc-event {
      font-size: 100%; /* Tamaño de fuente de los eventos */
        padding: 5px 10px; /* Espacio interno de los eventos */
      background-color: #1C93DC; /* Cambia el color de fondo de los eventos */
      color: #FFFFFF; /* Cambia el color del texto de los eventos */
      border-color: #1C93DC;
    }
    .selected-event {
    background-color: #00263D; /* Cambiar este valor al color deseado */
    }
    </style>
    <section class="content-header" xmlns="http://www.w3.org/1999/html">
        <h1 class="pull-right"> <a href="/configuracion/solicitud_inventarios/cliente/"><i class="fa fa-mail-forward"></i>Volver</a></h1>
      <h1><a href="#">Inventarios</a><small>Administración </small></h1>
        <br>
      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}

    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->

          <div class="tab-content">
            <form role="form" action="/configuracion/solicitud_inventarios/" method="POST">
            {% csrf_token %}
              <br>
                <input type="hidden" name="pagina" value=0>
             <div class="row">
                 <select hidden  name="cliente" id="cliente_input" >
                     <option value="{{ cliente }}" selected >{{ nom_cliente }}</option>

                 </select>
                 <div class="col-md-6">
                     <label>Cliente </label>
                     <div class="input-group ">
                         <span class="input-group-addon"><i class="fa fa-user "></i></span>
                         <input type="text" readonly class="form-control" id="nombre"
                                name="nombre" value="{{ nom_cliente }}" >
                     </div>
                 </div>
                 <div class="col-md-6">
                     <label>Fecha Corte</label>
                     <div id='calendar' ></div>
                     <input type="hidden" id="selected-date" name="selected_date" value="{{ diahoy }}">
                 </div>


                 <div class="col-md-12">
                     <br>
                 </div>
                 <div class="col-md-6">
                     <button type="submit"  class="btn btn-primary btn-block btn-flat" >
                         <span class="glyphicon glyphicon-folder-open"></span>
                         <span class="glyphicon glyphicon-search"></span>Consultar
                     </button>
                 </div>
                 <div class="col-md-6">
                     <button type="button" id="buscar_inventario_excel_button"  class="btn btn-success btn-block btn-flat" >
                         <span class="glyphicon glyphicon-folder-open"></span>
                         <span class="glyphicon glyphicon-search"></span>Excel
                     </button>
                 </div>
             </div>
            </form>
              <br>
            <!-- Formula Medica -->
              <div class="box">
                  <div class="box-body">
                      <div class="col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead><tr>
                                <th>EAN</th>
                                <th>Descripcion</th>
                                <th>Linea</th>
                                <th></th>


                    </tr>
                </thead>
                <tbody>
                {% for dato in lista_prueba %}
                                <tr>
                                    <td>
                                        {{ dato.EAN }}
                                    </td>
                                    <td>
                                        {{ dato.Descripcion }}
                                    </td>
                                    <td>
                                        {{ dato.Linea }}
                                    </td>
                                    <td><center><a class="btn btn-info "
                                           href="/configuracion/solicitud_inventarios/detalle/?ean={{ dato.EAN }}&fecha={{ diahoy }}&cliente={{ cliente }}"
                                           title="Ver detalle ">
                                        <i class="glyphicon glyphicon-folder-open"></i>
                                        <i class="glyphicon glyphicon-zoom-in"></i>
                                        <br> Detalle Inventario
                                    </a></center></td>

                                </tr>
                                {% endfor %}
                        </tbody>
                    </table></div>
                  </div>
                  <form role="form" action="/configuracion/solicitud_inventarios/" method="POST">
                  {% csrf_token %}
                      <input type="hidden" name="cliente" value="{{ cliente }}">
                      <input type="hidden" name="fecha_fin" value="{{ hoy }}">
                      <input type="hidden" name="pagina" value="{{ pagina }}">
                  <div class="box-footer clearfix">
                      <ul class="pagination pagination-sm no-margin pull-right">
                          <p1>{{pagina}}-{{pagina_fin}}</p1>
                          <button type="input" value="primera" name="paginador" class="btn btn-default btn-flat"><i class="fa fa-angle-double-left"></i></button>
                          <button type="input" value="atras" name="paginador" class="btn btn-default btn-flat"><i class="fa fa-angle-left"></i></button>
                          <button type="input" value="adelante" name="paginador" class="btn btn-default btn-flat"><i class="fa fa-angle-right"></i></button>
                      </ul>
                  </div>
                  </form>
              </div>
          </div>
          <!-- /.nav-tabs-custom -->
    </div>
    </div>
        <!-- /.col -->
    </section>

{% endblock %}
