{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/soportes/">Soportes</a>
        <small>Editar Información</small>
      </h1>
    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <div class="tab-content">
                <!-- barras de acceso -->
                <div class="active tab-pane" id="tipos_radicados">
                    <div class="row">
                      <div class="col-md-6">
                          <form role="form" action="/configuracion/soportes/editar/{{soportes.id}}/" method="POST">
                              {% csrf_token %}

                              <input type="hidden" class="form-control" id="id" placeholder="CODIGO"
                                     min="1" max="9" name="id" value="{{soportes.id}}">

                              <div class="row">
                                  <div class="col-md-12">
                                     <label>Descripcion</label>
                                     <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                       <input type="text" class="form-control" id="descripcion"
                                             name="descripcion" placeholder="Descripcion"
                                             style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                                              value="{{soportes.descripcion}}"required>
                                      </div>
                                  </div>
                              </div>

                              <br>
                              <!-- /.box-body -->
                              <div>
                              <button type="submit" class="btn btn-primary btn-block btn-flat">Grabar</button>
                            </div>
                          </form>
                      </div>
                  </div>
                    <!-- Tabla  -->
                </div>
             </div>

          <!-- /.nav-tabs-custom -->
         </div>
    </div>
        <!-- /.col -->
    </section>

{% endblock %}