{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="#">Historial Correos No Registrados</a>
        <small>Configuracion</small>
      </h1>


      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Configuracion</a></li>
        <li><a href="#">Historial</a></li>
      </ol>


    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <ul class="nav nav-tabs">
              <li><a href="/configuracion/historial_empresas/" >Historial General</a></li>
              <li><a href="/configuracion/historial_email/" >Historial Email de Pedidos</a></li>
              <li><a href="/configuracion/historial_respuesta_pedido/">Envio Respuesta Pedido</a></li>
              <li class="active"><a href="#" data-toggle="tab">Indicador Envio Email</a></li>
                <li ><a href="/configuracion/historial_correos_enviados/" >Correos Enviados</a></li>
                <li ><a href="/configuracion/reenviar_pedido/" >Email Correos ReEnviados</a></li>
            </ul>
            {% csrf_token %}
            <div class="tab-content">
                <!-- barras de acceso -->
                <div class="active tab-pane" id="perfiles">
                    <br>

                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <br>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                  <table id="empresas" class="table table-bordered table-hover dataTables">
                                    <thead>
                                        <tr>
                                            <th>Empresa</th>
                                            <th>Pedido</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for datos in datos_no_en_queryset %}
                                            <tr>

                                                <td>{{datos.empresa}}</td>
                                                <td>{{datos.pedido}}</td>
                                                <td>{{datos.fecha}}</td>


                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                                <!-- /.box-body -->
                          </div>
                            <!-- /.box -->
                        </div>
                    </div>

                </div>
                <!-- /.tab-content -->
          </div>

          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}