{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header" xmlns="http://www.w3.org/1999/html">
      <h1><a href="#">Estado de Cuenta</a><small>Administración </small></h1>
      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}

    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->

          <div class="tab-content">
              <br>
            <!-- Formula Medica -->
            <div class="tab-pane active" id="formula_paciente">
                <!-- Formulario formula medica -->
                <!-- Tabla formulas pacientes existentes -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">

                            <!-- /.box-header -->
                            <div class="box-body">
                              <table id="formulas" class="table table-bordered table-hover dataTables">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Nombre</th>
                                        <th>Saldo de Cuenta</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for dato in lista_prueba %}
                                <tr>
                                    <td>
                                        {{ dato.codigo }}
                                    </td>
                                    <td>
                                        {{dato.nombre}}
                                    </td>
                                    <td>
                                        {{dato.saldo_cuenta}}
                                    </td>

                                    <td><center><a class="btn btn-info "
                                           href="/configuracion/solicitud_estado_cuenta/detalle/{{ dato.codigo }}"
                                           title="Ver detalle ">
                                        <i class="glyphicon glyphicon-folder-open"></i>
                                        <i class="glyphicon glyphicon-zoom-in"></i>
                                        <br> Estado de Cuenta
                                    </a></center></td>

                                </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <!-- /.box-body -->
                      </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}
