{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="#">Servicio Crediya</a>
        <small>Configuracion</small>
      </h1>


      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Configuracion</a></li>
        <li><a href="#">Servicio Crediya</a></li>
      </ol>


    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#" data-toggle="tab">Servicio Crediya</a></li>
            </ul>
            {% csrf_token %}
            <div class="tab-content">
                <form role="form" action="/configuracion/historial_empresas/" method="POST">
                    {% csrf_token %}
                    <br>
                    <div class="row">
                    <div class="col-md-6">
                        <label>Fecha inicial</label>
                        <div class="input-group ">
                         <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                         <input type="date" class="form-control" id="fecha_inicio_input" name="fecha_inicio" value="{{ fecha_inicio }}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha final</label>
                        <div class="input-group ">
                         <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                         <input type="date" class="form-control" id="fecha_fin_input" name="fecha_fin" value="{{ fecha_fin }}" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                    </div>

                    <div class="col-md-12">
                        <br>
                    </div>
                    <div class="col-md-12">
                        <button type="button" id="buscar_lista_servicio_crediya_button"  class="btn btn-success btn-block btn-flat" >
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="glyphicon glyphicon-search"></span>Excel
                        </button>
                    </div>
                </div>
                </form>
                <!-- /.tab-content -->
          </div>

          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}