{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/servicio_crediya_consulta/">Consulta General CREDIYA</a>
        <small>Solicitudes</small>
      </h1>
      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Crédito Aprobado</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Error al Aprobar el Crédito</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Crédito rechazado</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Solicitudes</a></li>
        <li><a href="#">Consulta</a></li>
      </ol>
    </section>
    <div class="modal fade" id="AceptarCredito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form role="form" action="/configuracion/servicio_crediya_consulta/" method="POST">
                    {% csrf_token %}
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title" id="exampleModalLabel">Aprobar Crédito</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="hidden" name="numeropedido" id="numeropedido1">
                    <input type="hidden" name="respuesta" value="Aprobado">
                    <div class="modal-body">
                        ¿Estás seguro de aprobar el crédito con número de pedido <span id="pedido_modal"></span>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" id="AprobarCreditoBtn">Aprobar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="DenegarCredito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form role="form" action="/configuracion/servicio_crediya_consulta/" method="POST">
                    {% csrf_token %}
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title" id="exampleModalLabel">Denegar Crédito</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="hidden" name="numeropedido" id="numeropedido2">
                    <input type="hidden" name="respuesta" value="Negado">
                    <div class="modal-body">
                        ¿Estás seguro de denegar el crédito con número de pedido <span id="pedido_modal2"></span>?
                        <br>
                        <textarea class="form-control" rows="3" required placeholder="Motivos de denegado" name="razon" id="razon"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger" id="solicitarCreditoBtn">Denegar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#Pedidos" data-toggle="tab">CREDIYA</a></li>
              <li ><a href="/configuracion/servicio_credilisto_consulta/" >CREDILISTO</a></li>

            </ul>
              {% csrf_token %}
            <div class="tab-content">
                <!-- dcasos_estado -->
                <div class="active tab-pane" id="casos_medicamentos">
                <!-- Tabla casos existentes -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <!-- Busqueda-->
                                <div class="row">
                                   <div class="col-md-6">
                                           <label>Fecha inicial</label>
                                          <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                                <input type="date" class="form-control" id="fecha_inicio_input">
                                          </div>
                                      </div>
                                   <div class="col-md-6">
                                       <label>Fecha final</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                            <input type="date" class="form-control" id="fecha_fin_input">
                                      </div>
                                  </div>
                                   <div class="col-md-12">
                                        <br>
                                    </div>
                                   <div class="col-md-6">
                                       <label>Empresa</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-check-square "></i></span>
                                            <select class="form-control select2" style="width: 100%;" id="empresa_input" >
                                                      <option value="T">
                                                               TODOS LAS EMPRESAS
                                                      </option>
                                                      {% for empresas in lista_empresas %}
                                                      <option value="{{ empresas.id }}">
                                                          {{empresas.nombre}}
                                                      </option>
                                                      {% endfor %}
                                                  </select>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <label>Estado </label>
                                      <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-check-square "></i></span>
                                                <select class="form-control select2 " style="width: 100%;" id="estado_input">
                                                       <option value="4">
                                                           TODOS LOS ESTADOS
                                                       </option>
                                                       <option value="Preaprobado">
                                                           PREAPROBADO
                                                       </option>
                                                       <option value="Aprobado">
                                                           APROBADO
                                                       </option>
                                                        <option value="Negado">
                                                           NEGADO
                                                       </option>
                                                </select>
                                          </div>
                                      </div>
                                      <div class="col-md-12">
                                           <br>
                                      </div>
                                      <div class="col-md-12">
                                          <br>
                                      </div>
                                    <div class="col-md-12">
                                        <button id="busqueda_solicitudes_crediya" class="btn btn-primary btn-block btn-flat" >
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="glyphicon glyphicon-search"></span> Consultar
                                        </button>
                                    </div>
                                </div>
                                <!--/ Busqueda-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="page-header">
                                    </h4>
                                </div>
                            </div>
                            <div id="printableArea">
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                              <table id="tabla_infoc_medicamentos" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>EMPRESA</th>
                                        <th>PEDIDO</th>
                                        <th>ALMACÉN</th>
                                        <th>FECHA SOLICITUD</th>
                                        <th>FECHA PEDIDO</th>
                                        <th>FECHA VENCIMIENTO</th>
                                        <th>VALOR PRE APROBADO</th>
                                        <th>INTERES</th>
                                        <th>ESTADO</th>
                                        <th>RESPONSABLE DE RESPUESTA</th>
                                        <th>FECHA DE RESPUESTA</th>
                                    </tr>

                                </thead>
                                <tbody>
                                {% for con in creditos_preaprobados %}
                                    <tr>
                                        <td>{{ con.Empresa.nombre }}</td>
                                        <td>{{ con.NumeroOrdenCompra }}</td>
                                        <td>{% if con.Almacen != None %}{{ con.Almacen }}{% endif %}</td>
                                        <td>{{ con.FechaSolicitud|date:"Y-m-d" }}</td>
                                        <td>{{ con.FechaEmision|date:"Y-m-d" }}</td>
                                        <td>{{ con.FechaVencimiento|date:"Y-m-d" }}</td>
                                        <td>{{ con.ValorAprobado }}</td>
                                        <td>{{ con.Interes }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-btn btn-success aceptar-btn"
                                                    data-pedido='{{ con.NumeroOrdenCompra }}' data-toggle='modal' data-target='#AceptarCredito'>ACEPTAR</button>
                                                <button type="button" class="btn btn-btn btn-danger denegar-btn"
                                                    data-pedido='{{ con.NumeroOrdenCompra }}' data-toggle='modal' data-target='#DenegarCredito'>DENEGAR</button>
                                            </div>
                                        </td>
                                    <td></td>
                                    <td></td>
                                    </tr>
                                {% endfor %}
                                <!-- Espacio para los datos que cargan -->
                                </tbody>
                                <tfoot>

                                </tfoot>
                              </table>
                            </div>
                            <!-- /.box-body -->
                      </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- Tabla existentes -->

            </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}