{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/orden_empresiario_otroscanales/">Referencias a Facturar</a>
        <small>Otros Canales</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Otros Canales</a></li>
        <li><a href="#">Consulta</a></li>
      </ol>
    </section>
    <section>
    <div class="col-md-12">
    <div class="nav-tabs-custom">
        {% csrf_token %}
        <div class="tab-content">
            <!-- dcasos_estado -->
            <div class="active tab-pane" id="casos_medicamentos">
                <!-- Tabla casos existentes -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <!-- Busqueda-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Fecha inicial</label>
                                        <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                            <input type="date" class="form-control" id="fecha_inicio_input">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Fecha final</label>
                                        <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                            <input type="date" class="form-control" id="fecha_fin_input">
                                        </div>
                                    </div>
                                    <div class="col-md-12"><br></div>
                                    <div class="col-md-6">
                                        <label>Estado</label>
                                        <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-check-square "></i></span>
                                            <select class="form-control select2" style="width: 100%;" id="estado_input">
                                                <option value="asignado" selected>asignado</option>
                                                <option value="pendiente">pendiente</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="pedido">Pedido</label>
                                        <input type="number" class="form-control" id="pedido"
                                               name="pedido" placeholder="Numero de pedido" value="{{ pedido }}">
                                    </div>
                                    <div class="col-md-12"><br></div>
                                    <div class="col-md-6">
                                        <label>Empresa</label>
                                        <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-check-square "></i></span>
                                            <select class="form-control select2" style="width: 100%;" id="empresa_input">
                                                <option value="T" selected disabled></option>
                                                {% for empresa in empresas %}
                                                <option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Referencia</label>
                                        <input type="text" class="form-control" id="referencia"
                                               name="referencia" placeholder="Referencia Producto" value="{{ referencia }}">
                                    </div>
                                    <div class="col-md-12"><br></div>
                                    <div class="col-md-6">
                                        <label>U_PLU</label>
                                        <input type="text" class="form-control" id="u_plu"
                                               name="u_plu" placeholder="U_PLU Producto" value="{{ u_plu }}">
                                    </div>
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <div class="col-md-6">
                                        <label></label>
                                        <button id="busqueda_pedidos_otros_canales_empresarios_facturar" class="btn btn-primary btn-block btn-flat">
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="glyphicon glyphicon-search"></span> Consultar
                                        </button>
                                    </div>
                                </div>
                                <!--/ Busqueda-->
                            </div>
                            <div class="row">
                                <div class="col-md-12"><h4 class="page-header"></h4></div>
                            </div>

                            <!-- Aquí comienza el form único -->
                            <form id="form_facturacion" method="POST" action="/configuracion/facturacion/otros_canales/">
                                {% csrf_token %}
                                <div id="printableArea">
                                    <div class="box-body table-responsive no-padding">
                                        <table id="tabla_infoc_medicamentos" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>PEDIDO</th>
                                                    <th>CLIENTE</th>
                                                    <th>CANTIDAD</th>
                                                    <th>FECHA</th>
                                                    <th>U_PLU</th>
                                                    <th>REFERENCIA</th>
                                                    <th>DESCRIPCION</th>
                                                    <th>CODIGO EMPRESA</th>
                                                    <th>EMPRESA</th>
                                                    <th>OBSERVACIONES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- JS carga las filas -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Enviar todos</button>
                                </div>
                            </form>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>

                        <!-- /.box -->

        <!-- /.col -->
    </section>

{% endblock %}