{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/peticion/">Peticiones</a>
        <small>Editar Información</small>
      </h1>
    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <div class="tab-content">
                <!-- barras de acceso -->
                <div class="active tab-pane" id="medios_recepcion">
                    <div class="row">
                      <div class="col-md-6">
                          <form role="form" action="/configuracion/peticion/editar/{{peticiones.id}}/" method="POST">
                              {% csrf_token %}

                              <input type="hidden" class="form-control" id="id" placeholder="CODIGO"
                                     min="1" max="99" name="id" value="{{peticiones.id}}">
                              <div class="row">
                                  <div class="col-md-12">
                                   <label>Grupos Atencion</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="area" required>
                                           <option value="" selected disabled></option>
                                              {% for areas in lista_areas %}
                                              <option value="{{ areas.id }}"
                                              {% if areas.id == peticiones.area_id %}selected{% endif %}>
                                                  {{areas.descripcion}}</option>
                                              {% endfor %}
                                      </select>
                                  </div>
                              </div>

                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                     <label>Descripcion </label>
                                     <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                       <input type="text" class="form-control" value="{{peticiones.descripcion}}"
                                             name="nombre" placeholder="Descripcion de peticion" required>
                                      </div>
                                  </div>
                              </div>

                              <br>
                              <!-- /.box-body -->
                              <div>
                              <button type="submit" class="btn btn-primary btn-block btn-flat">Editar</button>
                            </div>
                          </form>
                      </div>
                  </div>
                    <!-- Tabla  -->
                </div>
             </div>

          <!-- /.nav-tabs-custom -->
         </div>
    </div>
        <!-- /.col -->
    </section>

{% endblock %}