{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="#">Pedidos Otros Canales</a>
        <small>Configuracion</small>
      </h1>


      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Configuracion</a></li>
        <li><a href="#">Compañia</a></li>
      </ol>


    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <ul class="nav nav-tabs">
                <li ><a href="/configuracion/orden_cliente_otroscanales/" >Pedidos Otros Canales </a></li>
              <li class="active"><a href="#" data-toggle="tab">Excel Pedidos Otros Canales </a></li>
            </ul>
              <br>
              <a href="/configuracion/plantilla_excel_pedidos_externos/" class="btn btn-app btn-success btn-flat">
                  <span class="badge bg-aqua">1</span>
                  <i class="fa fa-download"></i> Plantilla
              </a>
            {% csrf_token %}
            <div class="tab-content">
                <form role="form" action="/configuracion/excel_pedidos_externos/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">

                        <center>
                            <div class="col-sm-12">
                                <input type="file" name="excel" class="form-control" accept=".xlsx, .xls">
                                <br>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </center>
                    </div>
                </form>
                <!-- barras de acceso -->
                <!-- /.tab-content -->
          </div>

          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}