{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="/configuracion/trd/modificacion/">Modificacion Relacion TRD</a>
        <small>Actualizacion</small>
      </h1>
        {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Config</a></li>
        <li><a href="#">TRD</a></li>
      </ol>
    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
          <form role="form" action="/configuracion/trd/modificacion/" method="POST">
              {% csrf_token %}
            <div class="tab-content">
                <!-- dcasos_estado -->
                <div class="active tab-pane" id="casos_estado">
                <!-- Tabla casos existentes -->
                <div class="row">
                    <div class="col-xs-12">

                            <div class="box-header">
                                <!-- Busqueda-->
                                <div class="row">
                                    <div class="col-md-6">
                                   <label>Dependencia</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fas fa fa-group"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="dependencias" id="dependencias"  required>
                                           <option value="" selected disabled></option>
                                              {% for dependencias in lista_dependencias %}
                                              <option value="{{ dependencias.codigo }}">{{dependencias.descripcion}}</option>
                                              {% endfor %}
                                      </select>
                                  </div>
                              </div>
                                    <div class="col-md-6">
                                   <label>Serie</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fas fa fa-file"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="series" id="series" onchange = "obtener_subseries(this)" required>
                                           <option value="" selected disabled></option>
                                              {% for series in lista_series %}
                                              <option value="{{ series.id }}">{{series.descripcion}}</option>
                                              {% endfor %}
                                      </select>
                                  </div>
                              </div>
                                    <div class="col-md-12">
                                        <br>
                                    </div>
                                     <div class="col-md-6">
                                   <label>Subserie</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fas fa fa-file"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="subseries" id="subseries"  onchange = "obtener_dependencias_subseries(this)" required>
                                           <option value="" selected disabled></option>
                                              {% for subseries in lista_subseries %}
                                              <option value="{{ subseries.id }}">{{subseries.descripcion}}</option>
                                              {% endfor %}
                                      </select>
                                  </div>
                              </div>
                                     <div class="col-md-6">
                                   <label>Tipo de Documento</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="tipo_documento" id="tipo_documento" required>
                                           <option value="" selected disabled></option>
                                              {% for tipos in tipos_documentos %}
                                              <option value="{{ tipos.id }}"> {{ tipos.descripcion }}</option>
                                              {% endfor %}
                                      </select>
                                  </div>
                              </div>




                                    <div class="col-md-12">
                                        <br>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" value="activar" name="boton" class="btn btn-primary btn-block btn-flat" >
                                            <span class="fa fa-check"></span>Activar
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat" value="desactivar" name="boton">
                                            <span class="fa  fa-close"></span> Desactivar
                                        </button>
                                    </div>
                                </div>
                                <!--/ Busqueda-->
                            </div>

                      </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- Tabla existentes -->

            </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}