{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header" xmlns="http://www.w3.org/1999/html">
      <h1><a href="/configuracion/usuarios/">Usuarios</a><small>Editar usuarios</small></h1>
      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
            <br>
            <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alerta!</h4>{{ message }}
             </div>
            {% endif %}
        {% endfor %}

    {% endif %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Usuarios</a></li>
        <li><a href="#">Cuenta de usuarios</a></li>
      </ol>
    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
            <div class="tab-content">
                    <div class="row">
                      <div class="col-md-12">
                          <form role="form" action="/configuracion/usuarios/editar/{{ usuarios.id }}/" method="POST">
                              <!-- comando django de seguridad -->
                              {% csrf_token %}
                          <input type="hidden" class="form-control" id="id"
                                     min="1" max="99" name="id" value="{{usuarios.id}}">
                              <br>
                                <div class="row">
                                      <div class="col-md-6">
                                           <label>Nombre Completo</label>
                                          <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-user "></i></span>
                                                <input type="text" class="form-control" id="nombres"
                                                style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                name="nombres" placeholder="Nombre Completo" value="{{usuarios.first_name}}"  required>
                                          </div>
                                      </div>
                                       <div class="col-md-6">
                                      <label>Apellido Completo</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" id="apellidos"
                                        style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                                        name="apellidos" placeholder="Apellido Completo"  value="{{usuarios.last_name}}" required>
                                      </div>
                                  </div>
                                </div>
                              <br>
                                <div class="row">
                                      <div class="col-md-6">
                                           <label>Usuario</label>
                                          <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-user "></i></span>
                                                <input type="text" class="form-control" id="nombre_usuario" readonly value="{{usuarios.username}}"
                                                    name="nombre_usuario" placeholder="Nombre de usuario"  required >
                                          </div>
                                      </div>
                                       <div class="col-md-6">
                                      <label>Correo electrónico</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                        <input type="email" class="form-control" id="email"
                                        name="email" placeholder="Correo" value="{{usuarios.email}}" required>
                                      </div>
                                  </div>
                                </div>
                              <br>
                              <div class="row">
                                  <div class="col-md-6">
                                           <label>Contacto</label>
                                          <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-user "></i></span>
                                                <input type="number" class="form-control" id="telefono"
                                                    name="telefono" placeholder="Telefono" value="{{usuarios_datos.telefono}}"  required>
                                          </div>
                                  </div>
                              </div>
                              <br>
                                <div class="row">
                                      <div class="col-md-6">

                                            <input type="hidden" class="form-control" id="password"
                                                name="password" placeholder="Contraseña" minlength="5"  value="{{ usuarios.password }}">
                                          </div>
                                      </div>

                                  </div>
                                </div>
                              <br>
                              <div class="row">
                                <div class="col-md-12">
                                   <hr><center><label>CONTROL DE USUARIOS</label></center>
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                  <div class="col-md-6">
                                   <label>Empresa</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="empresas" required>

                                              {% for empresas in lista_empresas %}
                                              <option value="{{ empresas.id }}" >{{empresas.nombre}}</option>
                                              {% endfor %}
                                              <option value="{{ usuarios_datos.empresa_id }}" selected>{{ usuarios_datos.empresa.nombre }}</option>
                                      </select>
                                  </div>
                              </div>
                                  <div class="col-md-6">
                                           <label>Cargo</label>
                                          <div class="input-group ">
                                            <span class="input-group-addon"><i class="fa fa-user "></i></span>
                                                <input type="text" class="form-control" id="cargo"
                                                    name="cargo" placeholder="Cargo" value="{{usuarios_datos.cargo}}"  required>
                                          </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                                       <label>Usuario Administrativo?</label>
                                      <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <select class="form-control select2 " style="width: 100%;" name="publico" required>
                                            <option value="1" {% if usuarios_datos.admin == 1 %}selected{% endif %}>SI</option>
                                            <option value="0"{% if usuarios_datos.admin == 0 %}selected{% endif %}>NO</option>
                                        </select>
                                      </div>
                                  </div>
                              </div>

                              <br>
                              <!-- /.box-body -->
                              <div>
                              <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                            </div>
                          </form>
                      </div>
                  </div>
                </div>
                <!-- /.tab-pane -->
                </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
    </div>
        <!-- /.col -->
    </section>

{% endblock %}