{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<section class="content-header" xmlns="http://www.w3.org/1999/html">
    <h1> <a href="/configuracion/solicitud_credito_proveedores/"><i class="fa fa-mail-forward"></i>Volver</a></h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
</section>
<div id="printableArea">
<section class="invoice">
    {% csrf_token %}
    {% for dato in lista_solicitud %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                 PCS
                <small class="pull-right">NIT: 890985438-8</small>
            </h2>
        </div>
    </div>
    <div class="row">
   <div class="col-xs-8">
      <p class="lead">SEÑOR(ES):</p>
      <div class="col-sm-6 invoice-col">

          <address>
              <strong>NOMBRE: </strong>{{ datos_empresa.nombre }}<br>
              <strong>NIT: </strong>{{ datos_empresa.nit }}<br>
              <strong>DIRECCION: </strong>{{ dato.direccion }}<br>
              <strong>CIUDAD: </strong>{{ datos_empresa.municipios.descripcion}}<br>
              <strong>REFERENCIA: </strong>{{ dato.referencia}}<br>

          </address>
      </div>
      <div class="col-sm-6 invoice-col">
          <address>
              <strong></strong><br>
              <strong></strong><br>
              <strong></strong><br>
              <strong>TELEFONO: </strong>{{ datos_empresa.telefono }}<br>
          </address>
      </div>

   </div>

   <div class="col-xs-4">
      <div class="table-responsive">
         <table class="table">
            <tbody>
               <tr>
                  <th style="width:50%">NOTA CREDITO COMPRA:</th>
                  <td></td>
               </tr>
               <tr>
                  <th>NO.</th>
                  <td>{{form_id}}</td>
               </tr>
               <tr>
                  <th>Fecha Documento</th>
                  <td>{{ dato.fecha_contabilizacion }}</td>
               </tr>
               <tr>
                  <th></th>
                  <td>{{cliente.cliente}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="col-xs-12">
        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
         Observaciones: {{dato.observaciones}}
      </p>
   </div>
</div>
    <div class="row no-print">

    </div>


    <input type="hidden" id="solicitud_input" name="solicitud_input" value="{{ dato.n_pedido }}">
    <br>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio por Unidad </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for articulo in dato.articulos %}
                <tr>
                    <td>{{ articulo.nombre }}</td>
                    <td>{{ articulo.cantidad }}</td>
                    <td>{{ articulo.precio_unidad }}</td>
                    <td>{{ articulo.total }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br><br><br><br>
    <div class="row">
   <div class="col-xs-8">
       <table border="1" width="100%" height="100%">
           <tr>
               <th ><br>DETALLE DE RETENCIONES  <br>.</th>
           </tr>
           <tr>

               <td><br><br><center>{{dato.comentarios}}</center> <br></td>
           </tr>
       </table>

   </div>

   <div class="col-xs-4">
      <div class="table-responsive">
         <table class="table">
            <tbody>
               <tr>
                  <th style="width:50%">DESCUENTO:</th>
                  <td>$ {{dato.descuento}}</td>
               </tr>
               <tr>
                  <th>IVA</th>
                  <td>$ {{dato.impuestos}}</td>
               </tr>
               <tr>
                  <th>RETENCIONES</th>
                  <td>$ {{ dato.retencion }}</td>
               </tr>
                <tr>
                  <th>TOTAL</th>
                  <td>$ {{ dato.total }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>

</div>
</div>
<button type="button" onclick="printDiv('printableArea')" class="btn btn-primary pull-right" style="margin-right: 5px;">
        <i class="fa fa-download"></i> Generate PDF
    </button>
{% endfor %}

{% endblock %}