{% extends 'base_app.html' %}
{% load static %}


{% block content %}
    <h1>
        Eventos
      </h1>
<div class="content-wrapper">
    <div class="container">
        <section class="js-events-list">
            <div class="row">
                <div class="col-md-4 l-pad-vert-3">
                <div class="poster-card js-d-poster" >
                    <a href="" class="poster-card__main js-event-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                            <img class="js-poster-image " src="{% static "img/Donacion Organos.jpg" %}" alt="Ministerio de Salud">
                        </div>
                        <span class="poster-card__label">Inscripciòn $370.000</span>
                    </div>
                        <div class="poster-card__body">
                            <time class="poster-card__date">
                            Viernes, Feb 10  8:00 AM
                            </time>
                            <div class="poster-card__title">
                                Usaquen
                            </div>
                            <div class="poster-card__venue">
                                Direccion Cra 7 # 128-87
                            </div>
                        </div>
                    </a>
                    <div class="poster-card__footer">
                        <div class="poster-card__tags">
                            <a class="event-category" href="">#Notificarme</a>
                            <a class="event-format" href="">#Sin Notificar</a>
                        </div>
                        <div class="poster-card__actions">
                            <a class="js-share-event-card share-action" href="#"  title="Share">
                                <i class="ico-share ico--medium"></i>
                                <span class="is-hidden-accessible">Compartir</span>
                            </a>
                            <a class="js-d-bookmark">
                                <i class="ico-bookmark ico--medium"></i>
                                <span class="is-hidden-accessible">Asistir</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
                <div class="col-md-4 l-pad-vert-3">
                <div class="poster-card js-d-poster" >
                    <a href="" class="poster-card__main js-event-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                            <img class="js-poster-image " src="{% static "img/Forolatino.jpg" %}" alt="FORO LATINO">
                        </div>
                        <span class="poster-card__label">$370.000</span>
                    </div>
                        <div class="poster-card__body">
                            <time class="poster-card__date">
                            Viernes, Feb 10  8:00 AM
                            </time>
                            <div class="poster-card__title">
                                Hotel Capital - Bogota
                            </div>
                            <div class="poster-card__venue">
                                Calle 25 # 69-10
                            </div>
                        </div>
                    </a>
                    <div class="poster-card__footer">
                        <div class="poster-card__tags">
                            <a class="event-category" href="">#Notificar</a>
                            <a class="event-format" href="">#No Notificarme</a>
                        </div>
                        <div class="poster-card__actions">
                            <a class="js-share-event-card share-action" href="#"  title="Share">
                                <i class="ico-share ico--medium"></i>
                                <span class="is-hidden-accessible">Compartir</span>
                            </a>
                            <a class="js-d-bookmark">
                                <i class="ico-bookmark ico--medium"></i>
                                <span class="is-hidden-accessible">Asistir</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
                <div class="col-md-4 l-pad-vert-3">
                <div class="poster-card js-d-poster" >
                    <a href="" class="poster-card__main js-event-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                            <img class="js-poster-image " src="{% static "img/AnalisisD.jpg" %}" alt="Analisis Datos">
                        </div>
                        <span class="poster-card__label">$70.000</span>
                    </div>
                        <div class="poster-card__body">
                            <time class="poster-card__date">
                            Viernes, Feb 10  8:00 AM
                            </time>
                            <div class="poster-card__title">
                                Salon Premier
                            </div>
                            <div class="poster-card__venue">
                                Cra 5 80-87
                            </div>
                        </div>
                    </a>
                    <div class="poster-card__footer">
                        <div class="poster-card__tags">
                            <a class="event-category" href="">#E</a>
                            <a class="event-format" href="">#Datos</a>
                        </div>
                        <div class="poster-card__actions">
                            <a class="js-share-event-card share-action" href="#"  title="Share">
                                <i class="ico-share ico--medium"></i>
                                <span class="is-hidden-accessible">Compartir</span>
                            </a>
                            <a class="js-d-bookmark">
                                <i class="ico-bookmark ico--medium"></i>
                                <span class="is-hidden-accessible">Asistir</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
            </div>
            <div class="row">
                <div class="col-md-4 l-pad-vert-3">
                <div class="poster-card js-d-poster" >
                    <a href="" class="poster-card__main js-event-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                            <img class="js-poster-image " src="{% static "img/Claycop.png" %}" alt="Claycop">
                        </div>
                        <span class="poster-card__label">$370.000</span>
                    </div>
                        <div class="poster-card__body">
                            <time class="poster-card__date">
                            Viernes, Feb 10  8:00 AM
                            </time>
                            <div class="poster-card__title">
                                Hotel Sheraton
                            </div>
                            <div class="poster-card__venue">
                                Cra 58 80-87
                            </div>
                        </div>
                    </a>
                    <div class="poster-card__footer">
                        <div class="poster-card__tags">
                            <a class="event-category" href="">#V</a>
                            <a class="event-format" href="">#M</a>
                        </div>
                        <div class="poster-card__actions">
                            <a class="js-share-event-card share-action" href="#"  title="Share">
                                <i class="ico-share ico--medium"></i>
                                <span class="is-hidden-accessible">Compartir</span>
                            </a>
                            <a class="js-d-bookmark">
                                <i class="ico-bookmark ico--medium"></i>
                                <span class="is-hidden-accessible">Asistir</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
                <div class="col-md-4 l-pad-vert-3">
                <div class="poster-card js-d-poster" >
                    <a href="" class="poster-card__main js-event-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                            <img class="js-poster-image " src="{% static "img/Forolatino.jpg" %}" alt="Encuentro de Novios">
                        </div>
                        <span class="poster-card__label">$70.000</span>
                    </div>
                        <div class="poster-card__body">
                            <time class="poster-card__date">
                            Viernes, Feb 10  8:00 AM
                            </time>
                            <div class="poster-card__title">
                                Casa Medina
                            </div>
                            <div class="poster-card__venue">
                                Hotel Casa Medina Cra 7 # 69-87
                            </div>
                        </div>
                    </a>
                    <div class="poster-card__footer">
                        <div class="poster-card__tags">
                            <a class="event-category" href="">#XXXX</a>
                            <a class="event-format" href="">#XXXXX</a>
                        </div>
                        <div class="poster-card__actions">
                            <a class="js-share-event-card share-action" href="#"  title="Share">
                                <i class="ico-share ico--medium"></i>
                                <span class="is-hidden-accessible">Compartir</span>
                            </a>
                            <a class="js-d-bookmark">
                                <i class="ico-bookmark ico--medium"></i>
                                <span class="is-hidden-accessible">Asistir</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
                <div class="col-md-4 l-pad-vert-3">
                <div class="poster-card js-d-poster" >
                    <a href="" class="poster-card__main js-event-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                            <img class="js-poster-image " src="{% static "img/8dias.jpg" %}" alt="Ocho Dias">
                        </div>
                        <span class="poster-card__label">$370.000</span>
                    </div>
                        <div class="poster-card__body">
                            <time class="poster-card__date">
                            Viernes, Feb 10  8:00 AM
                            </time>
                            <div class="poster-card__title">
                                Centro
                            </div>
                            <div class="poster-card__venue">
                                Cra 58 80-87
                            </div>
                        </div>
                    </a>
                    <div class="poster-card__footer">
                        <div class="poster-card__tags">
                            <a class="event-category" href="">#Notificarme</a>
                            <a class="event-format" href="">#No</a>
                        </div>
                        <div class="poster-card__actions">
                            <a class="js-share-event-card share-action" href="#"  title="Share">
                                <i class="ico-share ico--medium"></i>
                                <span class="is-hidden-accessible">Compartir</span>
                            </a>
                            <a class="js-d-bookmark">
                                <i class="ico-bookmark ico--medium"></i>
                                <span class="is-hidden-accessible">Asistir</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
            </div>
        </section>
    </div>
    <!-- /.container -->
</div>
  <!-- /.content-wrapper -->
{% endblock content %}
