{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="split-login">
  <div class="split-login-half split-login-left">
    <div class="split-login-form">
      <center><img src="{% static 'dist/img/Logo-Conecta.png'%}" width="300px" height="80px" ></center>
      <br>
      <div class="login-form">

       <div class="login-box-body">
    <p class="login-box-msg"><img src="{% static 'dist/img/logo_etet.jpg'%}" width="100%" height="100%"></p>
    <p class="login-box-msg">Inicia Sesión</p>

    <form action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
      <div class="form-group has-feedback">
        <input type="text"
               id="username" name="username"  class="form-control" placeholder="Usuario">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Recordarme
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Log in</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
      </div>
    </div>
    <div class="split-login-footer">
    </div>
  </div>
  <div class="split-login-half split-login-right"></div>
</div>



<!-- /.login-box -->
{% endblock content %}
