
{% load static %}
{% block content %}


<div id="printableArea">
<section class="invoice">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                 PCS
                <small class="pull-right">Orden de Compra </small>
            </h2>
        </div>
    </div>
    <div class="row">
   <div class="col-xs-8">
      <p class="lead">SEÑOR(ES):</p>
      <div class="col-sm-6 invoice-col">

          <address>
              <strong>NOMBRE: </strong>{{ asignacion_titulos.empresa.nombre }}<br>
              <strong>NIT: </strong>{{ asignacion_titulos.empresa.nit }}<br>
              <strong>DIR.FACTURA: </strong>{{ asignacion_titulos.empresa.direccion }}<br>
              <strong>CIUDAD: </strong>{{ asignacion_titulos.empresa.municipios}}<br>

          </address>
      </div>
      <div class="col-sm-6 invoice-col">
          <address>
              <strong></strong><br>
              <strong></strong><br>
              <strong></strong><br>
              <strong>TELEFONO: </strong>{{ asignacion_titulos.empresa.telefono }}<br>
          </address>
      </div>

   </div>

   <div class="col-xs-4">
      <div class="table-responsive">
         <table class="table">
            <tbody>
               <tr>
                  <th style="width:50%">Fecha  Expedicion:</th>
                  <td>{{ asignacion_titulos.num_detalle.num_pedido.fecha }}</td>
               </tr>
               <tr>
                  <th>Fecha Vencimiento</th>
                  <td>{{asignacion_titulos.num_detalle.num_pedido.fecha_entrega}}</td>
               </tr>
               <tr>
                  <th>Cliente</th>
                  <td>{{ asignacion_titulos.num_detalle.num_pedido.empresa.nombre }}</td>
               </tr>
               <tr>
                  <th></th>
                  <td>{{cliente.cliente}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>

</div>
    <div class="row no-print">

    </div>

    <div class="row no-print">

    </div>

    <input type="hidden" id="solicitud_input" name="solicitud_input" value="{{ dato.n_pedido }}">
    <br>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numero de articulo</th>
                        <th>Nombre de articulo</th>
                        <th>Cantidad</th>
                        <th>Precio por Unidad </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for articulo in asignacion %}
                <tr>
                    <td>{{ articulo.num_detalle.referencia }}</td>
                    <td>{{ articulo.num_detalle.nombre  }} </td>
                    <td><center>{{ articulo.cantidad }}</center>  </td>
                    <td><center>{{ preciocompra }}</center></td>
                    <td><center>{{ total }}</center></td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br><br><br><br>
    <div class="row">
   <div class="col-xs-9">
       <table border="1" width="100%" height="100%">
           <tr>
               <th colspan="2"><br>PRENDA DOBLADA <br>.</th>
           </tr>
           <tr>
               <td><small>CONSTANCIA DE ACEPTACION Y RECEPCION DE MERCANCIA</small> <br>C.C O NIT</td>
               <td><br><br>FIRMA Y SELLO  CLIENTE <br></td>
           </tr>
       </table>

   </div>
        <br><br>
   <div class="col-xs-3">
      <div class="table-responsive">
         <table class="table">
            <tbody>
               <tr>
                  <th style="width:50%">SUBTOTAL:</th>
                  <td>${{total}}</td>
               </tr>
               <tr>
                  <th>IVA</th>
                  <td>${{dato.impuestos}}</td>
               </tr>
               <tr>
                  <th>TOTAL</th>
                  <td>${{ total }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>

</div>
</div>



</section>

{% endblock %}