{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<section class="content-header" xmlns="http://www.w3.org/1999/html">
    <div class="pull-right">
        <div class="block">
     <a href="/configuracion/solicitud_pedido_orden/detalle/{{ problemas_titulo.entry_pedido }}" class="hovicon effect-1 sub-a" title="¿Tienes un problema con este pedido?">Ver Detalle Pedido</a>
    </div>
    </div>
    <h1><a href="javascript:history.back()"><i class="fa fa-mail-forward"></i>Volver</a></h1>
    <br><br>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
</section>

<div id="printableArea">
<section class="invoice">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                 PCS -- {{ problemas_titulo.empresa }}
                <small class="pull-right">Orden de Compra {{ problemas_titulo.pedido }}</small>
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% if detalle_validacion.dependencia != None %}
                        <th>Dependencia</th>
                        <th>Nombre Dep.</th>
                        {% endif %}
                        <th>EAN Producto</th>
                        <th>Descripcion Producto</th>
                        <th>Unidades Pedidas</th>
                        <th>Cantidad.Uni.Emp.</th>
                        <th>Unidades pedidas a despachar</th>
                        <th>Empaques Despachados</th>
                    </tr>
                </thead>
                <tbody>
                {% for novedad in pedido_novedades %}
                <tr>
                    {% if detalle_validacion.dependencia != None %}
                    <td>{{ novedad.dependencia }}</td>
                    <td>{{ novedad.direccion }}</td>
                    {% endif %}
                    <td>{{ novedad.ean }}</td>
                    <td>{{ novedad.descripcion }} </td>
                    <td>{{ novedad.u_pedidas }} </td>
                    <td>{{ novedad.cant_un_ped }}</td>
                    <td>{{ novedad.unidades_despachar }}</td>
                    <td>{{ novedad.empaques_despachado }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>

{% endblock %}