{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<section class="content-header" xmlns="http://www.w3.org/1999/html">
    <div class="pull-right">
        <div class="block">
     <a href="/configuracion/solicitud_pedido_orden/detalle/{{ problemas_titulo.entry_pedido }}" class="hovicon effect-1 sub-a" title="¿Tienes un problema con este pedido?">Ver Detalle Pedido</a>
    </div>
    </div>
    <h1><a href="javascript:history.back()"><i class="fa fa-mail-forward"></i>Volver</a></h1>
    <br><br>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
</section>

<div id="printableArea">
<section class="invoice">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                 PCS -- {{ problemas_titulo.empresa }}
                <small class="pull-right">Orden de Compra {{ problemas_titulo.num_pedido }}</small>
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Problema</th>
                        <th>Informacion</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Respuesta</th>
                        <th>Solicitud</th>
                    </tr>
                </thead>
                <tbody>
                {% for problema in problemas %}

                <div id="ArchivoModales{{ problema.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="main-header">
                                    <span class="close" data-dismiss="modal">&times;</span>
                                    <div class="col-md-12">
                                    <h2 class="page-header">
                                    <strong>Respuesta Peticion</strong>
                                    </h2>
                                    </div>
                                </div>
                                <div class="modal-body">

                                     <form role="form" action="/configuracion/respuesta_peticion/" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="entry_pedido" value="{{problemas_titulo.entry_pedido}}">
                                                    <input type="hidden" name="problema" value="{{problema.id}}">
                                                    <input type="hidden" name="direccion" value="1">
                                                    <input type="hidden" value="2" name="doc">
                                                    <input type="hidden" value="2" name="respuesta">
                                                    <input type="hidden" value="2" name="cita">
                                                    <input type="hidden" value="reprogramar" name="tipo_cita">
                                                <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Numero de Cita </label>
                                                                <div class="input-group ">
                                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                                    <input type="text" class="form-control"
                                                                           name="numero_cita" placeholder="Numero de cita" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Fecha </label>
                                                                <div class="input-group ">
                                                                    <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                                                    <input type="date"  value="{{problema.fecha}}" class="form-control"  name="fecha_cita"  required>
                                                                </div>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Hora </label>
                                                                <div class="input-group ">
                                                                    <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                                                                    <input type="time" value="{{problema.hora}}" class="form-control"  name="hora_cita"  required>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    <br>
                                                    <button type="submit" class="btn btn-block btn-primary btn-xs">Enviar</button>

                                                </form>

                                </div>

                          </div>

                        </div>
                    </div>
                <div id="ArchivoModal{{ problema.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="main-header">
                                    <span class="close" data-dismiss="modal">&times;</span>
                                    <div class="col-md-12">
                                    <h2 class="page-header">
                                    <strong>Respuesta</strong>
                                    </h2>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <p>{{problema.respuesta}}</p>
                                    {% if problema.doc_respuesta != None %}
                                    <strong>Adjuntos:</strong><br>
                                    <a href="{{problema.doc_respuesta}}">Ver adjunto</a>
                                    {% endif %}
                                </div>

                          </div>

                        </div>
                    </div>
                <div id="RespuestaModal{{ problema.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="main-header">
                                    <span class="close" data-dismiss="modal">&times;</span>
                                    <div class="col-md-12">
                                    <h2 class="page-header">
                                    <strong>Respuesta Peticion</strong>
                                    </h2>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <form role="form" action="/configuracion/respuesta_peticion/" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="entry_pedido" value="{{problemas_titulo.entry_pedido}}">
                                    <input type="hidden" name="problema" value="{{problema.id}}">
                                        <input type="hidden" name="direccion" value="1">
                                    <label>Respuesta</label>
                                    {% if problema.peticion.descripcion == 'prorroga' %}
                                    <select class="form-control select2 " style="width: 100%;" name="respuesta" required>
                                        <option value="" selected disabled></option>
                                        <option value="Se ha aceptado la prorroga hasta el {{ problema.fecha }}  para el pedido {{ problema.num_pedido }}">Aceptar</option>
                                        <option value="Se ha rechazado la prorroga para el pedido {{ problema.num_pedido }}">Rechazar</option>
                                    </select>
                                        <br>
                                     {% else %}
                                    <textarea required name="respuesta" class="form-control" rows="3" placeholder="Respuesta"></textarea>
                                     {% endif %}
                                    <br>
                                     {% if problema.peticion.descripcion == 'Facturar pedido sin novedades' or problema.peticion.descripcion == 'Facturar Pedido con novedades' %}
                                        <input type="hidden" value="1" name="doc">
                                     <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-upload"></i></span>
                                        <input id="adjunto" name="adjunto" type="file" required>
                                    </div>
                                        <br>
                                     {% else %}
                                        <input type="hidden" value="2" name="doc">
                                     {% endif %}
                                    <button type="submit" class="btn btn-block btn-primary btn-xs">Enviar</button>
                                    </form>
                                </div>

                          </div>

                        </div>
                    </div>
                <tr>
                    <td>{{ problema.peticion }}</td>
                    <td>{{ problema.justificacion }} </td>
                    <td>{{ problema.fecha }} </td>
                    <td>{{ problema.estado }}</td>
                    <td>
                    {% if permiso_usuario.atencion != 1  %}
                        {% if problema.estado == 'pendiente' %}
                        {% if problema.peticion.descripcion == 'Solicitud de cita entrega' or  problema.peticion.descripcion == 'Solicitud de cita entrega(almacenes exito)' or problema.peticion.descripcion == 'Solicitud de cita entrega(almacenes alkosto)' %}
                        <a class="btn btn-info " data-toggle="modal" data-dismiss="modal" data-target="#ArchivoModales{{ problema.id }}"
                           title="responder ">
                            <i class="fa fa-mail-forward"></i>
                            <br> Responder
                        </a>
                        {% else %}
                        <a class="btn btn-info " data-toggle="modal" data-dismiss="modal" data-target="#RespuestaModal{{ problema.id }}"
                           title="responder ">
                            <i class="fa fa-mail-forward"></i>
                            <br> Responder
                        </a>
                        {% endif %}
                        {% else %}
                        <a data-toggle="modal" data-dismiss="modal" data-target="#ArchivoModal{{ problema.id }}" class="btn btn-primary" title="Respuesta">Respuesta</a>
                        {% endif %}

                    {% else %}
                    {% if problema.respuesta != None %}
                    <a data-toggle="modal" data-dismiss="modal" data-target="#ArchivoModal{{ problema.id }}" class="btn btn-primary" title="Respuesta">Respuesta</a>
                    {% endif %}
                    {% endif %}
                    </td>
                    {% if problema.peticion.descripcion == 'Facturar Pedido con novedades' %}
                    <td><a class="btn btn-info "
                                   href="/configuracion/solicitud_pedido_orden/novedades/{{form_id}}/{{problema.id}}"
                                   title="Ver detalle ">
                        <i class="fa fa-table"></i>
                        <i class="glyphicon glyphicon-zoom-in"></i>
                        <br> Novedades Pedido
                    </a></td>
                    {% elif problema.peticion.descripcion == 'Solicitud de cita entrega' or  problema.peticion.descripcion == 'Solicitud de cita entrega(almacenes exito)' or problema.peticion.descripcion == 'Solicitud de cita entrega(almacenes alkosto)' %}
                    <td><a class="btn btn-info "
                                   href="/configuracion/solicitud_pedido_orden/cita_entrega/{{form_id}}/{{problema.id}}"
                                   title="Ver detalle ">
                        <i class="fa fa-table"></i>
                        <i class="glyphicon glyphicon-zoom-in"></i>
                        <br> Detalle Cita
                    </a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>

{% endblock %}